
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #a09d9d; 
    font-family: Arial, sans-serif;
    text-align: start;
}
main {
    width: 100%;
}
.PARAG1 {
    margin-top: 0; 
    color: #f4f4f4;
    font-size: 18px; 
    margin-top: 10px;
}
.CONT1, .CONT2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.BOX1, .BOX2, .BOX3, .BOX4, .BOX5 {
    background-color: #6a1b9a;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 10px;
    border-radius: 3%;
}
.BOX1 {
    background-color: #6a1b9a;
}
.BOX2 {
    background-color: #37474f;
}
.BOX3 {
    background-color: #faf7f7;
}
.BOX4 {
    background-color: #263238;
    color: #fffdfd;
}
.BOX5 {
    background-color: wheat;
}
.DAN {
    display: flex;
    align-items: center;
}
.NAME {
    margin-left: 10px;
    font-size: 12px;
}
.NAME h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.NAME h4 {
    color: #e96835;
}
h2, h3, h4 {
    margin-bottom: 10px;
}
p {
    margin-top: 10px;
    color: rgb(184, 186, 187);
}
.BOX1 img, .BOX2 img, .BOX3 img, .BOX4 img, .BOX5 img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
@media (min-width: 601px) {
    .CONT1, .CONT2 {
        justify-content: space-between;
    }
    .BOX1, .BOX2, .BOX3, .BOX4, .BOX5 {
        width: calc(50% - 20px);
    }
}
@media (min-width: 1024px) {
    .BOX1, .BOX2, .BOX3, .BOX4, .BOX5 {
        width: calc(33.33% - 20px);
    }
}
